%footer#footer
  .container
    .row.sections
      .span4.recent_posts
        %h3.footer_header
          Recent Posts
        .post
          %a{:href => "#"}
            %img.img-circle{:src => "/assets/recent_post1.png"}/
          .date
            Wed, 12 Dec
          %a.title{:href => "#"}
            Randomised words which don't look embarrasing hidden.
        .post
          %a{:href => "#"}
            %img.img-circle{:src => "/assets/recent_post2.png"}/
          .date
            Mon, 12 Dec
          %a.title{:href => "#"}
            Randomised words which don't look embarrasing hidden.
      .span4.testimonials
        %h3.footer_header
          Testimonials
        .wrapper
          .quote
            %span “
            There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
            %span
          .author
            %img{:src => "/assets/user-display.png"}/
            .name Alejandra Galvan Castillo
            .info
              Details Canvas
      .span4.contact
        %h3.footer_header
          Contact
        %form{:action => "#", :method => "post"}
          %input{:placeholder => "Your name", :type => "text"}/
          %input{:placeholder => "Your email", :type => "text"}/
          %textarea{:placeholder => "Message", :rows => "3"}
          %input{:type => "submit", :value => "Send"}/
    .row.credits
      .span12
        .row.social
          .span12
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{:href => "#"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{:href => "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.pinterest{:href => "#"}
              %span.socialicons.ico5
              %span.socialicons_h.ico5h
            %a.dribble{:href => "#"}
              %span.socialicons.ico6
              %span.socialicons_h.ico6h
            %a.behance{:href => "#"}
              %span.socialicons.ico7
              %span.socialicons_h.ico7h
        .row.copyright
          .span12
            © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.